@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: linear-gradient(90deg, #020817, #020817, #020817);
  color: #FFFFFF; /* Adjust text color for readability */
  font-family: Arial, Helvetica, sans-serif;

}

/* Updated Register Section Gradient */
.bg-gradient-to-r {
  background: linear-gradient(to right, #1f242f, #2D3748, #2c323c);
}
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa .89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}